body{
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(
  45deg,
  #f8efff,
  #f8efff 10px,
  #fcf5ff 10px,
  #fcf5ff 20px
);
}

.container{
    height: 500px;
    width: 350px;
    background-color: #a7c7da;
    border-radius: 20%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.cat{
    top:150px;
    left:50px;
    position: relative;
}
.face{
    background-color: #979797;
    height: 90px;
    width: 150px;
    border-radius: 30px;
    animation-play-state: inherit;
}
.ear-l{
    width: 0;
    height: 0;
    border-bottom: 50px solid #808080;
    border-Left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    z-index: -1;
}
.ear-r{
    width: 0;
    height: 0;
    border-bottom: 50px solid #808080;
    border-Left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    z-index: -1;
    animation-name: look-about;
    animation-duration: 3s;
    animation-play-state: inherit;
    animation-iteration-count: infinite;
}
.ear-l{
    bottom: 35px;
    transform: rotate(-30deg);
}
.ear-r{
    bottom: 85px;
    right: -115px;
    transform: rotate(30deg);
}
.inner1{
    width: 0;
    height: 0;
    border-bottom: 50px solid #d36149;
    border-left: 25px solid transparent;
    right: 25px;
    position: relative;
}
.inner2{
    width: 0;
    height: 0;
    border-bottom: 50px solid #d36149;
    border-right: 25px solid transparent;
    left: 0px;
    bottom: 0px;
    position: relative;
    animation-name: look-about;
    animation-duration: 3s;
    animation-play-state: inherit;
    animation-iteration-count: infinite;
}

.eye-l,.eye-r{
    background-color: #30b2fc;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
}
.eye-l{
    bottom: 75px;
    left: 30px;
}
.eye-r{
    bottom: 25px;
    left: 60px;
}

.eyeball{
    background-color: #262626;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: relative;
    top:3px;
    left:3px;
}
.nose{
    height:0;
    width: 0;
    border-top: 8px solid #d36149;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    bottom:-10px;
    left:-20px;
}
.l1,.l2{
    background-color: #d36149;
    height: 8px;
    width: 1px;
    position: relative;
}
.l1{
  transform: rotate(45deg);
  right: 3px;
  bottom: 1.5px;
}
.l2{
    transform: rotate(-45deg);
    bottom:10px;
    left:2.5px;
}
.body{
  background-color: #979797;
  height: 120px;
  width: 130px;
  position: relative;
  left: 5px;
  bottom: 5px;
  border-radius: 0 65px 0 0;
}
.paw-l,.paw-r{
  background-color: #979797;
  height: 10px;
  width: 22px;
  position: relative;
  border-radius: 0 0px 10px 10px;
}
.paw-l{
    top:120px;
}
.paw-r{
  top:110px;
  left:50px;
}
.tail{
  background-color: #808080;
  width: 100px;
  height:20px;
  position: relative;
  top:80px;
  left: 100px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
}
.shadow{
  background-color: rgba(8,8,8,0,.05);
  height: 30px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  left: 20px;
  z-index: -1;
}

@keyframes look-about {
    0% {right: 20px;}
    5% {right: 30px;}
    30% {right: 30px;}
    35% {right: 10px;}
    60% {right: 10px;}
    65% {right: 20px;}
    100% {right: 20px;}
}
